{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <section>
        <form action="/" method="post">
            <input type="checkbox" name="estilo" id="estPython" value="python">
            <label for="estPython">python</label>
            <input type="checkbox" name="estilo" id="estFlask" value="python">
            <label for="estFlask">Flask</label>
            <input type="checkbox" name="estilo" id="estJS" value="python">
            <label for="estJS">JavaScript</label>
        </form>
    </section>
    <article>
        <h1>Teste bem executado</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti accusamus nihil cupiditate. Et esse inventore maiores consequuntur magni distinctio molestias asperiores! Eius expedita, porro maxime veniam optio recusandae illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur dolorum magni molestias. Non, nobis saepe omnis dicta quod ab architecto commodi. Soluta dolorem quaerat quis ratione ullam voluptates molestias?</p>
    </article>
{% endblock %}